<div class="footer my-5 my-md-5 d-md-flex justify-content-between">
  <div class="copyright text-center"><i class="bi bi-c-circle"></i> Sathishkumar.dev 2024</div>
  <div class="social-icons justify-content-center d-flex">
    <a href="https://github.com/sathish-repos" target="_blank" class="pe-3 instagram text-dark"><i
        class="bi bi-github"></i></a>
    <a href="https://www.linkedin.com/in/sathishkumardev/" target="_blank" class="pe-3 linkedin text-dark"><i
        class="bi bi-linkedin"></i></a>
    <a href="https://discordapp.com/users/1144472704586629140" target="_blank" class="discord text-dark"><i
        class="bi bi-discord"></i></a>
  </div>
</div>