<div class="projects" id="projects">
  <h1 class="pt-4">Projects </h1>
  <p class="pb-1">Some of the projects that i have been working on.</p>
  <div class="row row-cols-1 row-cols-md-2">
    @for (project of projects; track $index;) {
    <div class="col p-4">
      <div class="card h-100 p-lg-4 p-3">
        <img src="{{project.image}}" class="card-img-top p-3" alt="..." />
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="project.name"></h5>
          <p class="card-text" [innerHTML]="project.description">
          </p>

        </div>
        <div class="card-footer text-end">
          <a href="{{project.url}}" target="_blank" class="btn btn-outline-dark">See
            more</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>