<div class="experience">
  <h1>Work Experiences</h1>
  <div class="section">
    <div class="position font-semibold h5">System Engineer</div>
    <div class="place">&#64;TCS - Tata Consultancy Service</div>
    <div class="time-frame">May 2022 - Nov 2024</div>
    <button class="btn border-0 ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Worked On <i class="bi bi-arrow-down-up ps-2"></i>
    </button>

    <div class="collapse ps-2" id="collapseExample">
      <div class="card-body">
        <div class="pointer section">
          Worked-on the development of a feature-rich e-commerce platform, enhancing user
          experience and increasing conversion rates by 20%.
        </div>
        <div class="pointer">
          Collaborated on a cross-functional team to integrate multiple micro
          front-ends into a cohesive enterprise application, streamlining workflow
          efficiency.
        </div>
      </div>
    </div>

  </div>
</div>
