<div class="hero">
  <div class="hero__background mt-md-0 mt-5 pt-md-0 pt-5"></div>
  <div class="hero__description d-md-flex flex-column justify-content-md-center mt-md-0 mt-5 pt-5 pt-md-0 text-center">
    <div class="name font-bold h1">Sathishkumar</div>
    <div class="message section">
      Front-end Developer. Repo Architect. UI. System Design & More.
    </div>
    <div class="buttons">
      <button class="btn btn-outline-dark me-3" (click)="onDownload()">
        Resume <i class="ms-1 bi bi-download"></i>
      </button>
      <a href="#projects" class="corsur-pointer text-decoration-none text-black">
        Go to Projects <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
</div>