.hero {
  display: grid;
  height: 90vh;
  &__background {
    max-width: 400px;
    width: 100%;
    background: url("/hero-max.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: 767px) {
      max-width: none;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
