<div class="education section">
  <h1>Education</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card border-light-subtle h-100">
        <div class="card-body">
          <h5 class="card-title">College</h5>
          <div class="study">B.E Computer Science and Engineering</div>
          <div class="from">From: TCET</div>
          <div class="time-frame">2017-2021</div>
          <div class="score">75.6%</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light-subtle h-100">
        <div class="card-body">
          <h5 class="card-title">Higher Sec School</h5>
          <div class="from">From: Govt. Hrs School</div>
          <div class="time-frame">2015-2017</div>
          <div class="score">87.25%</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light-subtle h-100">
        <div class="card-body">
          <h5 class="card-title">High School</h5>
          <div class="from">From: Govt. High School</div>
          <div class="time-frame">2014-2015</div>
          <div class="score">76.6%</div>
        </div>
      </div>
    </div>
  </div>
</div>